.containerFormBook {
 display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
 height:100%;
 width:100%;
}
.img-200-200 {
   width: 200px;
    height:400px;// a altura se adequa proporcionalmente
}

.imageBook{
width:800px;
height:250px
}
.imgcapa{
height:250px;
width:200px;

}
.cardFormBook{
 width: 50rem;
 opacity: 01;
 background-color:rgba(0, 0, 0,0);
 border:none;
}
.titleFormBook{
 padding: 15px ;
 margin-bottom:10px;
  background-color:rgba(32, 178, 170,1);
}
btn .btnSaveBook{
flex-direction: row-reverse;
background-color:red;
display: flex;
}
